body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 100vh;
  background: #232427;

}

.button-style10 {
    padding: 5px;
    border: 3px solid #b3871f;
    width: 70px;
    height: 30px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #daa520; ;
    background-color: darkgrey;
    z-index: 10000;
    background: #fff  no-repeat 90% 50%;
    position: relative;
    bottom: 30px;
    margin:4px
  }

  h2 {
  color: #daa520; ;

  }
  
  .button-style10 button {
    padding: 5px 8px;
    width: 50%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
  }
  
  .button-style10 button:focus {
    outline: none;
  }
  
  /**/
  .button-style10 {
  font-size: 0.9rem;
  text-align: center;
  
  }

  .button-style10:hover {
    color: black;
  }
  