img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 8px;
    border: 3px solid brown;
   }
.cat {
    height: 500px;
    width: 500px;
    padding: 20px;
   }
.text_padding{
    color:  #daa520;
    padding: 20px;
    
}
.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}
.text_box{
    color:  #daa520;     
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    justify-content: center;
    width: 400px;
}

.box_border{
    border-style: solid;
    color: brown;
    padding: 10px;
}

.data_box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 20px;
    border-style: solid;
    color: brown;
    padding: 10px;
}

.image_description{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 1;
    align-items: center;
    padding: 20px;
}

.three h1 {
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1.5em;
    padding-bottom: 15px;
    position: relative;
    left: 0px;
    top: 0px;
  }
  .three h1:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 5px;
    width: 55px;
    background-color: rgb(123, 35, 35);
  }
  .three h1:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 1px;
    height: 1px;
    width: 95%;
    max-width: 255px;
    background-color: rgb(255, 0, 0);
  }
  .top_position{
    position: fixed;
    left: 20px;
    top: 20px;
  }
  .color_title{
    color: #daa520;
  }