.button-style4 {
    padding: 5px;
    border: 3px solid #b3871f;
    width: 160px;
    height: 30px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #daa520; ;
    background-image: url("https://th.bing.com/th/id/R.10b0f188960224fa1d08fd6aa0edaa56?rik=AY%2bIXC%2fw%2fRJw3w&riu=http%3a%2f%2fgetwallpapers.com%2fwallpaper%2ffull%2f2%2fe%2f6%2f1056050-epic-gaming-wallpapers-2560x1600-download.jpg&ehk=EumFZkUr3hAyUt0vG9s4Pqs1D1ytL7IVvzES6t%2bMn1Q%3d&risl=1&pid=ImgRaw&r=0");
    background-color: darkgrey;
    z-index: 10000;
    background: #fff  no-repeat 90% 50%;
    top: 50%;
    right: 50%;
    position: fixed;
    
  }
  
  .button-style4 button {
    padding: 5px 8px;
    width: 50%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
  }
  
  .button-style4 button:focus {
    outline: none;
  }
  
  /**/
  .button-style4 {
  font-size: 0.9rem;
  text-align: center;
  
  }
  